## MARKDOWN BASICS
* **Bold**
* *Italic*
* ***BI***
*  NormalText
    * sublist1
    * sublist2
    
    
1. Ordered list element 1
2. Ordered list element 2

[logo](logo.png)


<img src ="logo.png" style="float:left">
I get 10 times more traffic from [Google] [1] than from   ordered linking
[Yahoo] [2] or [MSN] [3].

  [1]: http://google.com/        "Google"
  [2]: http://search.yahoo.com/  "Yahoo Search"
  [3]: http://search.msn.com/    "MSN Search"
  
  
  <https:www.google.com>
  markdown@google.com
 
  
  
  
  
  printf("welcome")

# PYTHON BASICS 

python version 3.7 
- scripting
- objectoriented
- functional

In [8]:
#python comments 

print("good afternoon", "!",end=" ||")
print("Hello python")

good afternoon ! ||Hello python

### Assignment

In [21]:
n1=123456 #single variable assigenement

n2= n3= n4= n1          #Multivariable Assigenement

a,b,c= 123,345, 567 #Multi Variable Assignement with different values 

print(a,b,c)

123 345 567

# DATATYPES AND CONVERSIONS:
- int
- float
- string

In [54]:
s1="welcome"
type(s1)
f1=12345.678
type(f1)
float(str(int(f1)))

12345.0

### Airthmetic Operations 
- +
- -
- *
- /
- %
- **

In [47]:
n1 %11
n3= n2 **12
type(n3)
len(str(n3))
atoms=10**82
len(str(atoms))
type(str(atoms))

str

### Conditionals

In [58]:
if atoms < 10 ** 9:
    print("TRUE")
else:
    print("false")

false

In [60]:
#check if a number is even 
n=123
if(n%2==0):
    print("even")
else:
    print("odd")

odd

In [1]:
# find the greatest of three numbers 
n1=int(input("enter the first number"))
n2=int(input("enter the second number"))
n3=int(input("enter the third number"))

if(n1>n2 and n1>n3):
    print(n1,"is the greatest")
elif(n2>n3):
    print(n2 ,"is the greatest")
else:
    print(n3,"is the greatest")

enter the first number6
enter the second number9
enter the third number1
9 is the greatest

In [ ]:
#checking if the year is leap or not 
year=1234
if(year%400==0 or year%100!=0 and year %400==0):
    print("it is leap year ")
else
    print("it is not leap year")

In [10]:
# check if a number exists in a given range
n1=345
ub=456
lb=34
if (n1<=ub and n1>=lb):
    print("number is in range")
else:
    print("number is not in range")

number is in range

In [6]:
 #check if a number is multiple of 10 
n1=123
if(n1%10==0):
    print(n1,"is a multiple of 10")
else:
    print(n1,"is not  a multiple of 10 ")

123 is not  a multiple of 10

In [7]:
#check if a number is a factor of 1000
if(1000%n1==0):
    print(n1,"is a factor  of 10")
else:
    print(n1,"is not a factor of 10")

123 is not a factor of 10

In [11]:
#check if given string is eqal to number 
s1="python"
n1=123
if str(n1) == s1:
    print("Equal")
else:
    print("Not Equal")

Not Equal

In [3]:
# count the no of digits in a number
n1=12345678
print(len(str(n1)))

8

In [3]:
#calculate the square root of a number 
n1=100
n1**0.5

10.0

In [7]:
#calaculate the number of nano seconds in a 
#given year (considering leap year logic)
year=2018
if (year%400==0 or(year%100!=0 and year%4==0)):
    print(366*24*60*60*(10**9))
else:
    print(365*24*60*60*(10**9))

31536000000000000